.problem-header-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
}

.problem-header-container > h2 {
  font-size: 1.75rem;
  margin-left: 6rem;
  margin-bottom: 10px;
}

.problem-header-details-container {
  display: flex;
  gap: 2rem;
  max-width: 100%;
  margin-left: 6rem;
}

.header-label {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.problem-rating-title {
  margin-right: 0.5rem;
}

.header-label .fa-star {
  margin-right: 0.25rem;
}

.header-label img {
  margin-right: 0.25rem;
  height: 2rem;
}

.problem-header-difficulty {
  background-color: #282d3a;
  text-transform: uppercase;
  margin-left: 0.25rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.add-rating-btn-container {
  margin-left: auto;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-rating-btn {
  background-color: #3cdb7c;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
}

.add-rating-btn:hover {
  cursor: pointer;
}

#lc-problem-rating-number {
  color: #d6d0d0;
  margin-left: 0.25rem;
}
