.problem-description-container {
  width: 60%;
}

.problem-description-title {
  color: #ffffff;
  font-size: 1.5rem;
}

.problem-description {
  color: #d6d0d0;
  white-space: pre-line;
}

.problem-description-example-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.problem-example {
  background-color: #303646;
  border: 1px solid #303646;
  border-radius: 1rem;
  display: block;
  padding: 1.5rem;
  color: #ffffff;
  line-height: 2.5rem;
}
