.solutions-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-top: 2px solid #3c404a;
  border-bottom: 2px solid #3c404a;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem 0;
}

.solutions-header {
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 0;
}

.our-solution {
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #3c404a;
}

.user-solutions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.no-user-solutions {
  text-align: center;
}
