#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  max-height: 100%;
  width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 36px 40px 32px 40px;
  border-radius: 0.5rem;
}
